/* ============================= */
/* INDEX PAGE */
/* ============================= */
:root {
  --primary-color: #46a358;
  --basic-font-family: "Cera Pro", sans-serif;
  --bolt-font-family: "Cera Pro", sans-serif;
  --black-font-family: "Cera Pro", sans-serif;
  --medium-font-family: "Cera Pro", sans-serif;
  --special-font-family: "Hanging Letters", sans-serif;
}
.header {
  padding: 25px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Лого */

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-text {
  color: var(--primary-color);
  font-weight: 700;
}

/* Меню */

.menu {
  display: flex;
  gap: 40px;
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 16px;
  font-family: var(--basic-font-family);
}

/* Кнопка */

.login-btn {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 8px 18px;
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.first {
  margin-top: 30px;
}

.first-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  padding: 30px;
  gap: 100px;
}

/* Левая часть */

.first-content {
  max-width: 520px;
}

.first-subtitle {
  font-size: 14px;
  letter-spacing: 2px;
  color: #3d3d3d;
  font-family: var(--medium-font-family);
}

.first-title {
  font-size: 48px;
  font-family: var(--black-font-family);
  font-size: 60px;
  margin: 20px 0;
}

.accent {
  color: var(--primary-color);
}

.first-text {
  color: #727272;
  margin-bottom: 30px;
  font-family: var(--basic-font-family);
}

/* Кнопка */

.first-btn {
  display: inline-block;
  padding: 12px 28px;

  background: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* Правая часть */

.first-image {
  position: relative;
  width: 520px;
  height: 400px;
  display: flex;
  align-items: flex-end;
}
.first-image img {
  position: absolute;
  bottom: 0; /* Прижимаем к НИЗУ контейнера */
}

/* большая картинка */
.first-image img:first-child {
  right: 0;

  width: 500px;
  z-index: 1;
}
.first-image img:last-child {
  left: 0;

  width: 155px;
  padding: 15px;
  z-index: 2;
}

/* ============================= */
/* REGISTRATION PAGE */
/* ============================= */

/* Выровнять всю форму по центру страницы */
.form-container {
  display: flex;
  flex-direction: column; /* включаем flexbox */
  justify-content: center; /* центр по горизонтали */
  align-items: center; /* центр по вертикали */
  gap: 8px; /* чтобы занимала всю высоту экрана */
}

/* Центрируем элементы внутри формы */
form {
  display: flex;
  flex-direction: column;
  align-items: center; /* центрирует поля и кнопки по горизонтали */
  gap: 16px;
}

/* Центрируем заголовок внутри формы */
.title {
  text-align: center;
}
.hint {
  font: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0;
  color: #3d3d3d;
  align-self: flex-start;
}
input,
button {
  border-radius: 5px;
}

input {
  display: block;
  width: 300px;
  height: 40px;
  margin-bottom: 16px;
  border: 1px solid #eaeaea;

  padding: 8px 16px;
  font-size: 16px;
  box-sizing: border-box;
}
input::placeholder {
  color: #a5a5a5;
}

.submit-button {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  border: none;

  cursor: pointer;
  text-align: center;
  width: 300px;
  height: 45px;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}
.center-text {
  font-size: 13px;
  color: #3d3d3d;
  text-align: center;
}

.social-button {
  background-color: transparent;
  color: #727272;
  border: 1px solid #eaeaea;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  width: 300px;
  height: 40px;
  padding: 8px 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 16px;
}

.google-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 69px;
}

.facebook-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 64px;
}

.footer {
  height: 10px;
  background-color: var(--primary-color);
}

/* ============================= */
/* second-container <!-- Друга секція (homework 7.1) -->*/
/* ============================= */

.second-container {
  display: flex; /* делим на 2 части */
  width: 1000px;
  margin: 0 auto;

  margin-top: 40px;
}

/* Левая часть */
.sidebar {
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fbfbfb;
}

.category-style {
  font-family: var(--bold-font-family);
  margin-bottom: 10px;
  margin-left: 20px;
}

/* Ссылки категорий */
.categories-links {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-left: 20px;
}

.categories-links a {
  font-family: var(--basic-font-family);
  font-weight: normal;
  text-decoration: none;
  color: #3d3d3d;
  transition: color 0.2s;
}

.categories-links a:hover {
  color: var(--primary-color);
}
.sale-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px; /* отступы, чтобы контент не прилипал к краям */
  gap: 8px;
}

.sale-banner img {
  width: 100%;
  height: auto;
  display: block;
  padding: 17px;
}
.sale-banner h2 {
  font-family: var(--special-font-family);
  color: var(--primary-color);
  font-weight: normal;
  font-size: 45px;
}

/* Правая часть */
.products-container {
  flex: 1; /* занимает всё оставшееся место */
  margin-left: 33px;
}

/* Верхняя панель */
.prodacts-top {
  display: flex;
  justify-content: space-between;

  margin-bottom: 37px;
}
.prodacts-top > div:first-child {
  display: flex;
  gap: 37px; /* расстояние между ссылками */
}
.prodacts-top > div:first-child a {
  font-family: var(--basic-font-family);
  color: #3d3d3d;
  transition: color 0.2s;
}
.prodacts-top > div:first-child a:hover {
  color: var(--primary-color);
}

.prodacts-top > div:last-child {
  display: flex;
  align-items: center;
}
.prodacts-top > div:last-child span {
  font-family: var(--basic-font-family); /* применяем базовый шрифт */
  color: #3d3d3d;
  font-weight: normal;
}

.prodacts-top select {
  font-family: var(--basic-font-family);
  border: none; /* убираем рамку */
  color: #3d3d3d;
  padding: 5px 8px;
  font-size: 15px;
}
/* ============================= */
/* second-container <!-- Друга секція (homework 9.1) -->*/
/* ============================= */

/* Карточки */
.products {
  display: flex;
  flex-wrap: wrap; /* чтобы переносились на новую строку */
  font-family: var(--basic-font-family);
  font-size: 16px;
  background-color: #fbfbfb;
}

.card {
  width: 30%;
  margin: 10px;
  text-align: center;
  position: relative;
}
.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  display: block;
}
.price {
  color: var(--primary-color);
}
.card-action {
  position: absolute;

  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);

  display: flex;
  gap: 10px;

  opacity: 0;
  transition: 0.3s;

  background: #ffffff;
  padding: 8px 12px;
}

.card:hover .card-action {
  opacity: 1;
}

.card-sale {
  position: absolute;
  top: 10px;
  left: 10px;

  background: var(--primary-color);
  color: #ffffff;

  padding: 4px 8px;
  font-size: 12px;
}
.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 9px;
}

.pagination button:hover {
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}
